
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');


body{
    background:whitesmoke;
}
*{
    margin: 0;
    padding: 0;

}

nav{
    font-family:'Oswald';
}

nav ul{
    display:flex;
    list-style-type: none;
    align-items: center;
    height: 65px;
    background: black;
    color: rebeccapurple;
    
}

nav ul li{
    padding: 8px;

}
.brand img{
    width: 40px;
    padding: 8px;
    
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family:'Oswald';
    display: flex;
    margin: 23px auto;
    width: 80%;
    border-radius: 15px;
    padding: 30px;
    background-image: url('bg.jpg');



}


.bottom{
    display: flex;
    color:yellow;
    background-color:rgb(162, 230, 14);
    position: sticky;
    bottom: 0;
    height:10ch;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.Icons{
   
    margin-top: 15px;
   
}

.Icons i{
     cursor: pointer;

}

#Prograessbar{
    width:50vw;
    cursor: pointer;
    
}
.songcontainer{
    margin-top: 20px;
    
}

 .songItem{
    height: auto;
    display: flex;
    background-color: rgb(234, 145, 218);
    color: black;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 40vh;
    
    
   
 }

 .songItem img{
    width: 40px; 
    margin: o 20px;
    border-radius: 12px;
    
 }

 .songItem i{
    cursor: pointer;
    padding-right: 5px;
 }
 .songInfo{
    position: absolute;
    left: 25vw;
 }
 .songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
 }